# UI
streamlit==1.33.0
plotly==5.20.0

# QR
opencv-python==4.9.0.80
pyzbar==0.1.9
pydantic==2.7.0

# OSINT
python-whois==0.8.0
requests==2.31.0
python-Levenshtein==0.25.0
firebase-admin==6.5.0

# ML
scikit-learn==1.4.2
numpy==1.26.4

# Forensics
fpdf2==2.7.9
playwright==1.43.0
networkx==3.3
matplotlib==3.8.4

# LLM
groq==0.5.0

# API
fastapi==0.111.0
uvicorn==0.29.0
python-dotenv==1.0.1
